@page
@model KICKDRIVE.Pages.CRUDS.autobuses.IndexModel

@{
    ViewData["Title"] = "Informacion";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-dark">Registrar Autobuses</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autobus[0].Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autobus[0].Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autobus[0].CreateAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autobus[0].UpdateAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autobus[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Autobus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
